/* Icones */
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-rounded/css/uicons-bold-rounded.css');

/* Cores */
@import url(styles/colors.css);


/* Componentes genéricos */
@import url(styles/components/Button.css);
@import url(styles/components/Cards/card.css);
@import url(styles/components/Dropdown/dropdownOptions.css);
@import url(styles/components/Dropdown/dropdownSelect.css);
@import url(styles/components/Chat/Prompter.css);
@import url(styles/components/Chat/Message.css);
@import url(styles/components/EditableText.css);
@import url(styles/components/Others.css);
@import url(styles/components/Forms.css);

/* Páginas */
@import url(styles/pages/ErrorPage.css);
@import url(styles/pages/RoteiroPage.css);
@import url(styles/pages/ChatPage.css);
@import url(styles/pages/CineAI.css);
@import url(styles/pages/AuthPages.css);

/* Outros */
@import url(styles/Utility.css);

/* Elementos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--primary-color);
}